
<main class="">
    <section class="">
        <div class="container">
            <h1 class="heading text-center">Booking</h1>
            <div class="jobs clearfix">
                <div class="jobs-img">
                    <img src="images/booking_page_img.png" alt="Booking">
                </div>
                <div class="jobs-form">
                    <h2>Book your lady</h2>
                    <p>Call us at <a href="tel:+17863325934">(786) 332-5934</a></p>
                    <p>Email us at <a href="mailto:info@miamibelleescorts.com">info@miamibelleescorts.com</a></p>
                    <p>Fill out the form below</p>
                    <form class="form-horizontal" role="form" method="post" name="bookingform" id="bookingform" action="process.php" onsubmit="return(checkform());">
                        <div class="row jobs-form-groups">
                            <span class="jobs-groups-no img-circle">1</span>
                            <div class="col-sm-6">
                                <select placeholder="Preferred Escort*" name="prefescort" id="prefescort" class="inp-txt">
                                    <option value="">Preferred Escort*</option>
                                    <option value="Catherine">Catherine</option>
                                    <option value="Chelsy">Chelsy</option>
                                    <option value="Sindy">Sindy</option>
                                    <option value="Tina">Tina</option>
                                    <option value="Yoshima">Yoshima</option>
                                    <option value="Albina">Albina</option>
                                    <option value="Anda">Anda</option>
                                    <option value="Helen">Helen</option>
                                    <option value="Luna">Luna</option>
                                    <option value="Rita">Rita</option>
                                    <option value="Roberta">Roberta</option>
                                    <option value="Astrid">Astrid</option>
                                    <option value="Eveline">Eveline</option>
                                    <option value="Grace">Grace</option>
                                    <option value="Jenny">Jenny</option>
                                    <option value="Justina">Justina</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Ghaziabad">Ghaziabad</option>
                                    <option value="Kennedy">Kennedy</option>
                                    <option value="Kerissa">Kerissa</option>
                                    <option value="Rubypretty">Rubypretty</option>
                                    <option value="Sophie">Sophie</option>
                                    <option value="Suzan">Suzan</option>
                                    <option value="Ava">Ava</option>
                                    <option value="Carolina">Carolina</option>
                                    <option value="Estella">Estella</option>
                                    <option value="Esther">Esther</option>
                                    <option value="Sinita">Sinita</option>
                                    <option value="Suzanne">Suzanne</option>
                                    <option value="Cecillia">Cecillia</option>
                                    <option value="Giovanna">Giovanna</option>
                                    <option value="Izzy">Izzy</option>
                                    <option value="Lavinia">Lavinia</option>
                                    <option value="Melissa">Melissa</option>
                                    <option value="Reva">Reva</option>
                                    <option value="Andrea">Andrea</option>
                                    <option value="Elaine">Elaine</option>
                                    <option value="Eliza">Eliza</option>
                                    <option value="Fernanda">Fernanda</option>
                                    <option value="Rachel">Rachel</option>
                                    <option value="Stefania">Stefania</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select placeholder="Altarnate Escort*" name="altescort" id="altescort" class="inp-txt">
                                    <option value="">Altarnate Escort*</option>
                                    <option value="Catherine">Catherine</option>
                                    <option value="Chelsy">Chelsy</option>
                                    <option value="Sindy">Sindy</option>
                                    <option value="Tina">Tina</option>
                                    <option value="Yoshima">Yoshima</option>
                                    <option value="Albina">Albina</option>
                                    <option value="Anda">Anda</option>
                                    <option value="Helen">Helen</option>
                                    <option value="Luna">Luna</option>
                                    <option value="Rita">Rita</option>
                                    <option value="Roberta">Roberta</option>
                                    <option value="Astrid">Astrid</option>
                                    <option value="Eveline">Eveline</option>
                                    <option value="Grace">Grace</option>
                                    <option value="Jenny">Jenny</option>
                                    <option value="Justina">Justina</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Ghaziabad">Ghaziabad</option>
                                    <option value="Kennedy">Kennedy</option>
                                    <option value="Kerissa">Kerissa</option>
                                    <option value="Rubypretty">Rubypretty</option>
                                    <option value="Sophie">Sophie</option>
                                    <option value="Suzan">Suzan</option>
                                    <option value="Ava">Ava</option>
                                    <option value="Carolina">Carolina</option>
                                    <option value="Estella">Estella</option>
                                    <option value="Esther">Esther</option>
                                    <option value="Sinita">Sinita</option>
                                    <option value="Suzanne">Suzanne</option>
                                    <option value="Cecillia">Cecillia</option>
                                    <option value="Giovanna">Giovanna</option>
                                    <option value="Izzy">Izzy</option>
                                    <option value="Lavinia">Lavinia</option>
                                    <option value="Melissa">Melissa</option>
                                    <option value="Reva">Reva</option>
                                    <option value="Andrea">Andrea</option>
                                    <option value="Elaine">Elaine</option>
                                    <option value="Eliza">Eliza</option>
                                    <option value="Fernanda">Fernanda</option>
                                    <option value="Rachel">Rachel</option>
                                    <option value="Stefania">Stefania</option>
                                </select>
                            </div>
                        </div>
                        <div class="row jobs-form-groups">
                            <span class="jobs-groups-no img-circle">2</span>
                            <div class="col-sm-6"><input type="text" placeholder="First Name*" name="firstname" id="firstname" class="inp-txt" required="required"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Last Name" name="lastname" id="lastname" class="inp-txt"></div>
                            <div class="col-sm-6 clearLeft"><input type="text" placeholder="Phone Number*" name="phone" id="phone" class="inp-txt" required="required"></div>
                            <div class="col-sm-6"><input type="email" placeholder="Email Address*" name="email" id="email" class="inp-txt" required="required"></div>
                        </div>
                        <div class="row jobs-form-groups">
                            <span class="jobs-groups-no img-circle">3</span>
                            <div class="col-sm-6"><input type="text" placeholder="Hotel Name*" name="hotelname" id="hotelname" class="inp-txt" required="required"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Room Number*" name="roomno" id="roomno" class="inp-txt" required="required"></div>
                        </div>
                        <div class="row jobs-form-groups experience">
                            <span class="jobs-groups-no img-circle">4</span>
                            <div class="col-sm-12">
<textarea placeholder="Let us know if you have special request" name="message" id="message" class="inp-txt"></textarea>
                            </div>
                        </div>
                        <div class="clearfix button">
                            <input type="submit" name="submit" id="submit" value="Submit a request" class="btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>