
<main class="">
    <section class="">
        <div class="container">
            <h1 class="heading text-center">We Hire Escorts</h1>
            <div class="jobs clearfix">
                <div class="jobs-img">
                    <img src="images/booking_page_img.png" alt="hiring">
                </div>
                <div class="jobs-form">
                    <h2>Application form</h2>
                    <p>Call us at <a href="tel:+17863325934">(786) 332-5934</a></p>
                    <p>Email us at <a href="mailto:info@miamibelleescorts.com">info@miamibelleescorts.com</a></p>
                    <p>OR fill out the form below</p>
                    <form class="form-horizontal" role="form" method="post" name="bookingform" id="bookingform" action="process-hiring.php" onsubmit="return(checkform());">

                        <div class="row jobs-form-groups">
                            <span class="jobs-groups-no img-circle">1</span>
                            <div class="col-sm-6"><input type="text" placeholder="First Name*" name="firstname" id="firstname" class="inp-txt" required="required"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Last Name*" name="lastname" id="lastname" class="inp-txt"></div>
                            <div class="col-sm-6 clearLeft"><input type="text" placeholder="Phone Number*" name="phone" id="phone" class="inp-txt" required="required"></div>
                            <div class="col-sm-6"><input type="email" placeholder="Email Address*" name="email" id="email" class="inp-txt" required="required"></div>
                        </div>

                        <div class="row jobs-form-groups">
                            <span class="jobs-groups-no img-circle">2</span>
                            <div class="col-sm-6"><input type="text" placeholder="Nationality*" name="nationality" id="nationality" class="inp-txt" required="required"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Age*" name="age" id="age" class="inp-txt" required="required"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Height*" name="height" id="height" class="inp-txt" required="required"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Weight*" name="weight" id="weight" class="inp-txt" required="required"></div>
                        </div>

                        <div class="row jobs-form-groups experience">
                            <span class="jobs-groups-no img-circle">4</span>
                            <div class="col-sm-12">
<textarea placeholder="Let us know more about you" name="message" id="message" class="inp-txt"></textarea>
                            </div>
                        </div>

                        <div class="clearfix button">
                            <input type="submit" name="submit" id="submit" value="Submit a request" class="btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>