

<!-- ********** Main Content ********** -->
<main class="">
    <!--  Choose Hostess & Desired Treatments-->
    <section class="">
        <div class="container">
            <div class="text_container">
                <div class="">
                    <h1 class="heading text-center">Thank You!</h1>
                    <p class="text-justify">Your Message has been sent.</p>
                </div>
            </div>
        </div>
    </section>


</main>